/* 外部样式表 */
body{
    /* 透视效果 */
    perspective:800px;
}
body:hover .sample{
    transform:translateZ(100px);
}
q{
    /* css语法：选择器（指定元素）、声明块（指定样式） */
    color: red;
    font-size: 50px;
}
h2{
    color: blueviolet;

}
.box{
    /* font-size:0; */
    /* background-color: aqua; */
    width: 500px;
    height: 500px;
    /* margin: 0px 5px; */
    position: relative;
    /* overflow: hidden; 超过部分切除*/
    margin-left: 100px;
    transition: 2s;
    /* background-color: aquamarine; */
    /* 阴影：水平、垂直偏移量、阴影模糊半径、颜色 */
    /* box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.5); */
    /* 圆角 */
    /* border-top-left-radius: 35px; */
    /* border: radius 50%;; */
}
body:hover .box{
    /* body设置视距才能有三维效果 */
    transform: rotateY(180deg) rotateZ(400deg);
    /* transform: rotateZ(-90deg); */
}
.box li{
    /* 除去无序表前面的小点点     */
    list-style: none;
    /* 这句话他妈的把li都搞成绝对定位使得图片和小圆点都重叠了！ */
    /* position: absolute; */
}

.photo img{
    /* display: block; */
    width: 100%;
    height: 100%;
    /* 默认基线对齐 */
    vertical-align:bottom;
}
ol:hover{
    border: red 5px solid;
    width: 100px;
}
.pointer{   
    z-index: 999;
    bottom: 50px;
    position: absolute;
}
.photo li{
    /* 选ul就是整体放到绝对位置 与小点相反 小点要整体放出来 */
    position: absolute;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    
}
/* .photo li:nth-child(n){
    z-index: 1;
} */
.pointer li{
    float: left;
    width: 10px;
    height: 10px;
    background-color: rgba(227, 37, 37, 0.5);
    border-radius:50%;
    margin-left: 5px;
    /* clear: both; */
       
}
.pointer li.active,
.pointer li:hover{
    /* float: left; */
    background-color: rgb(12, 247, 176);
}
ol li::before{
    /* 方法二：通过伪元素设置图标 */
    /* 方法三：通过实体访问（&#x+图标编码），标签里还要写类名） */
    content:"\f1b0";
    font-family:"FontAwesome";
    font-weight: normal;
    color: blue;
    margin-right: 10px;
}
.sample{
    /* overflow: hidden; */
    width: 100px;
    height: 100px;
    margin: auto;
    /* background-color: aquamarine; */
    position: relative;
    transition: all .3s;
    z-index: 999999;

    
}
.NicePic{
    position: absolute;
    /* margin: 50px; */
    
}
.sample:hover{
    /* transform:translateZ(100px); */
    /* transform: translateY(-5px); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.box0{
    /* height: 50px;
    width:50px; */
    background-color: brown;
    transition: 0.5s;
    margin: 5px auto;
}
body:hover .box0{
    transform: scaleX(10);
}
